html{
    margin:0;
    padding:0;
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    background-color: rgb(16,16,16,1);
    overflow-x:hidden;
}

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.box{
    height:100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin:0;
    padding:0;
}

#b1{
    background-image: url("./skills.jpg");
}
#b2{
    background-image: url("./progproj.jpg");
}
#b3{
    background-image: url("./electronics.jpg");
}

strong{
    font-size: 22px;
}

p{
    margin:6px 6px;
    padding:4px 4px;
    text-align: justify;
}

u{
    color:Yellow;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 4px solid yellow;
}

.button{
    box-shadow: 5px 5px 1px 0.5px rgba(255,255,255,0.1);
}

.button:active { 
    transform: scale(0.98);
    transition-timing-function: ease;
    box-shadow: 5px 5px 1px 0.5px rgba(255,255,255,0.1);
} 

h1{
    position: relative;
    top:20%;
    font-size:3em;
    color:whitesmoke;
    letter-spacing: 1.8px;
    margin:0px auto;
    padding:1em 1em;
    padding-bottom: 1.38em;
    border:2px solid rgba(255,255,255,0.68);
    border-radius: 4px;
    background-color: rgba(16,16,16,0.68);
    min-width:70%;
    max-width: 78%;
    text-align: center;
}

#nav-g{
    border:2px solid rgba(255,255,255,0.18);
    border-radius: 4px;
    color:whitesmoke;
    font-size: 1.5em;
    background-color: rgba(16,16,16,0.38);
    position:fixed;
    right:0.5em;
    padding:0.5em 0.5em;
    margin:0.5em 0.5em;
}

.overlay{
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,0.1);
}

::-webkit-scrollbar { width: 10px; height: 10px;}
::-webkit-scrollbar-button {  background-color: red; }
::-webkit-scrollbar-track {  background-color: rgba(0,0,0,0.34);}
::-webkit-scrollbar-track-piece { background-color: rgba(0,0,0,0.34);}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 0px;}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    html {
      background-image: url("./ponly2.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin:0;
      padding:0;
    }
    body{
      display:none;
    }
  }