@media only screen and (max-width: 1024px) {
    html{
        color:white;
        font-family: 'Lato',sans-serif;
        letter-spacing: 1px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin:0;
        padding:0;
        font-size:34px;
    }

#sub{
  margin:0 16px;
  position: relative;
  top:55vh;
  padding:60px 24px;
  background-color: rgba(0,0,0,0.48);
  border:2px solid rgba(255,255,255,0.05);
  border-radius: 6px;
  min-width: 60%;
  max-width:max-content
}

#nav-g{
  font-size: 30px;
}

h1{
  font-size: 58px;
  color:red;
}

#name{
  min-width: 100%;
  font-size: 44px;
}

h2{
  padding:0;
  margin:0;
  font-size: 60px;
  text-indent: -4px;
}

.mobh{
  display: none;
}

a{
  color: yellow;
  font-weight: bolder;
  font-size: 25px;
  padding:2px 30px;
}

.p{
  
  padding:8px 16px;
  /*background-color: rgba(255,255,255,0.1);*/
  background-color: rgba(0,0,0,0.75);
}

#mt{
  height: 90vh;
}

body{
    text-align: justify;
    background-image: url("./pvz.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

.overlay{
  background-color: rgba(16,16,16,0);
}
    }

    @media screen and (max-width: 1024px) and (orientation: landscape) {
      html {
        background-image: url("./ponly2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin:0;
        padding:0;
      }
      body{
        display:none;
      }
    }